<section class="header-11-sub">
	<div class="background">&nbsp;</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 center-block user-block">
			<h3>Joins now to QuickChat</h3>
			<p>QuickChat is the first chat website just for experienced Ruby on Rails engineers.</p>
			<div class="signup-form">
				<%= render 'form' %>
			</div>
			<div class="additional-links">By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy</a></div>
		</div>
		</div>
	</div>
</section>